body {
    background-color: #ededed;
    padding: 0 50px 50px 50px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#notification-banner {
    position: absolute;
    z-index: 101;
    top: 0;
    left: 0;
    right: 0;
    background: #fde073;
    text-align: center;
    line-height: 2.5;
    overflow: hidden;
    -webkit-box-shadow: 0 0 5px black;
    -moz-box-shadow: 0 0 5px black;
    box-shadow: 0 0 5px black;
}

.main {
    display: flex;
    padding-top: 10px;
}

button:hover {
    opacity: 0.7;
}

button i:hover {
    opacity: 0.7;
}

.book-header {
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.add-book-button {
    color: #4b8674;
}

#book-sort {
    border: none;
    background: none;
    width: 100px;
}

#book-filter {
    margin-right: 10px;
    border: none;
}

.change-layout {
    color: #4b8674;
}

.book-content {
    margin-bottom: 10px;
}

.book-buttons {
    align-self: end;
    text-align: left;
    margin-bottom: 8px;
}

.orange-star {
    color: #ffbb5c;
}

.header-buttons {
    border: none;
}

.header-button:hover {
    filter: saturate(0.5);
}

.title {
    font-size: 50px;
    margin-bottom: 0px;
    margin-top: 20px;
    margin-right: 25px;
}

.book-list-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 15px;
}

.book-list-table {
    background-color: white;
    padding: 20px;
}

.table {
    width: 100%;
    text-align: left;
    border-collapse: collapse;
    overflow-x: auto;
    white-space: nowrap;
    display: block;
}

.title-col {
    width: 250px;
    max-width: 250px;
}

.author-col {
    width: 150px;
    max-width: 150px;
}

.rating-col {
    width: 150px;
    max-width: 150px;
}

.read-col {
    width: 70px;
    max-width: 70px;
}

.delete-col,
.edit-col {
    width: 50px;
    max-width: 50px;
}

.table-body tr th,
.table-body tr td {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.table thead {
    margin-bottom: 20px;
}

.table .table-body tr td {
    text-overflow: ellipsis;
}

th,
td {
    padding: 5px;
}

.table tr {
    border-top: 1px solid rgb(138, 136, 136, 0.5);
}

.table thead tr {
    border: none;
}

.book-card {
    /* border: 1px solid black; */
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 2px;
    padding: 15px;
    background-color: white;
    background-size: cover;
}

.article-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 15px;
}

.article-header-title {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.article-header-title .book-title {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.book-card button,
.table-body tr td button {
    border: none;
    background: none;
    padding: 4px;
}

.delete-book::after {
    font-family: 'FontAwesome';
    content: '\f1f8';
}

.edit-book::after {
    font-family: 'FontAwesome';
    content: '\f044';
}

.book-title {
    margin-bottom: 0px;
    margin-top: 0px;
}

.book-author {
    margin-top: 0px;
    margin-bottom: 10px;
    font-style: italic;
}

.add-book-modal,
.edit-book-modal {
    border: none;
    width: 300px;
}

.add-book-modal-title {
    margin-top: 0px;
}

input {
    margin-bottom: 10px;
}

.book-form-buttons {
    margin-top: 10px;
}

footer {
    text-align: center;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 70px;
}

@media (max-width: 600px) {
    body {
        padding: 10px;
    }

    .title {
        font-size: 40px;
        margin-bottom: 15px;
        grid-column: span 2;
    }

    .add-book-button {
        margin-bottom: 5px;
    }

    .book-header {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: minmax(30px, 70px) (3, 1fr);
        gap: 5px;
        margin-bottom: 15px;
    }

    .book-buttons {
        align-self: start;
        text-align: left;
        margin-bottom: 10px;
    }

    .book-list-grid {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
}